In [21]:
from pyspark.sql import SparkSession
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


spark = SparkSession.builder \
    .appName("Analyse_HIV") \
    .master("local[*]") \
    .config("spark.executor.memory", "8g") \
    .config("spark.driver.memory", "8g") \
    .config("spark.memory.fraction", "0.8") \
    .config("spark.memory.storageFraction", "0.3") \
    .getOrCreate()

In [1]:
df = spark.read.load('hdfs://localhost:8020/user/new-cases-of-hiv-infection.csv', format='com.databricks.spark.csv',header='true',sep=',',inferSchema='true')

In [2]:
df.show(50)

+--------------------+----+----+---------------------------------------------------------+
|              Entity|Code|Year|Incidence - HIV/AIDS - Sex: Both - Age: All Ages (Number)|
+--------------------+----+----+---------------------------------------------------------+
|         Afghanistan| AFG|1990|                                                       88|
|         Afghanistan| AFG|1991|                                                      104|
|         Afghanistan| AFG|1992|                                                      120|
|         Afghanistan| AFG|1993|                                                      127|
|         Afghanistan| AFG|1994|                                                      133|
|         Afghanistan| AFG|1995|                                                      144|
|         Afghanistan| AFG|1996|                                                      152|
|         Afghanistan| AFG|1997|                                                      161|
|         Afghanistan| AFG|1998|                                                      165|
|         Afghanistan| AFG|1999|                                                      169|
|         Afghanistan| AFG|2000|                                                      178|
|         Afghanistan| AFG|2001|                                                      193|
|         Afghanistan| AFG|2002|                                                      208|
|         Afghanistan| AFG|2003|                                                      220|
|         Afghanistan| AFG|2004|                                                      233|
|         Afghanistan| AFG|2005|                                                      244|
|         Afghanistan| AFG|2006|                                                      252|
|         Afghanistan| AFG|2007|                                                      269|
|         Afghanistan| AFG|2008|                                                      282|
|         Afghanistan| AFG|2009|                                                      290|
|         Afghanistan| AFG|2010|                                                      301|
|         Afghanistan| AFG|2011|                                                      330|
|         Afghanistan| AFG|2012|                                                      459|
|         Afghanistan| AFG|2013|                                                      526|
|         Afghanistan| AFG|2014|                                                      593|
|         Afghanistan| AFG|2015|                                                      670|
|         Afghanistan| AFG|2016|                                                      718|
|         Afghanistan| AFG|2017|                                                      765|
|         Afghanistan| AFG|2018|                                                      811|
|         Afghanistan| AFG|2019|                                                      850|
|African Region (WHO)|null|1990|                                                  1716679|
|African Region (WHO)|null|1991|                                                  1980985|
|African Region (WHO)|null|1992|                                                  2202247|
|African Region (WHO)|null|1993|                                                  2377334|
|African Region (WHO)|null|1994|                                                  2503193|
|African Region (WHO)|null|1995|                                                  2581305|
|African Region (WHO)|null|1996|                                                  2614399|
|African Region (WHO)|null|1997|                                                  2604933|
|African Region (WHO)|null|1998|                                                  2559210|
|African Region (WHO)|null|1999|                                                  2488686|
|African Region (WHO)|null|2000|                                                  2405364|
|African Region (WHO)|null|2001|                                                  2316862|
|African Region (WHO)|null|2002|                                                  2230153|
|African Region (WHO)|null|2003|                                                  2152552|
|African Region (WHO)|null|2004|                                                  2085619|
|African Region (WHO)|null|2005|                                                  2028997|
|African Region (WHO)|null|2006|                                                  1979672|
|African Region (WHO)|null|2007|                                                  1934594|
|African Region (WHO)|null|2008|                                                  1888093|
|African Region (WHO)|null|2009|                                                  1842407|
+--------------------+----+----+---------------------------------------------------------+
only showing top 50 rows

In [3]:
df1 = spark.read.load('hdfs://localhost:8020/user/tb-patients-living-with-hiv-receiving-art.csv', format='com.databricks.spark.csv',header='true',sep=',',inferSchema='true')

In [25]:
df1.show(20)

+-----------+----+----+-------------------------------------------------+
|     Entity|Code|Year|TB patients living with HIV receiving ART - Total|
+-----------+----+----+-------------------------------------------------+
|Afghanistan| AFG|2007|                                                0|
|Afghanistan| AFG|2008|                                                0|
|Afghanistan| AFG|2009|                                                5|
|Afghanistan| AFG|2010|                                                2|
|Afghanistan| AFG|2011|                                                4|
|Afghanistan| AFG|2012|                                                5|
|Afghanistan| AFG|2015|                                                3|
|Afghanistan| AFG|2016|                                                8|
|    Albania| ALB|2003|                                                0|
|    Albania| ALB|2006|                                                3|
|    Albania| ALB|2007|                                                1|
|    Albania| ALB|2008|                                                4|
|    Albania| ALB|2009|                                                6|
|    Albania| ALB|2010|                                                0|
|    Albania| ALB|2011|                                                2|
|    Albania| ALB|2012|                                                7|
|    Albania| ALB|2013|                                                2|
|    Albania| ALB|2014|                                                2|
|    Albania| ALB|2015|                                                6|
|    Albania| ALB|2016|                                                6|
+-----------+----+----+-------------------------------------------------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import col
df1 = df1.withColumnRenamed("TB patients living with HIV receiving ART - Total", "Tbpatients")

In [32]:
from pyspark.sql.functions import col
df1 = df1.withColumnRenamed("Entity", "Entit")
df1 = df1.withColumnRenamed("Code", "Cod")
df1 = df1.withColumnRenamed("Year", "Yea")
df1.show()

+-----------+---+----+----------+
|      Entit|Cod| Yea|Tbpatients|
+-----------+---+----+----------+
|Afghanistan|AFG|2007|         0|
|Afghanistan|AFG|2008|         0|
|Afghanistan|AFG|2009|         5|
|Afghanistan|AFG|2010|         2|
|Afghanistan|AFG|2011|         4|
|Afghanistan|AFG|2012|         5|
|Afghanistan|AFG|2015|         3|
|Afghanistan|AFG|2016|         8|
|    Albania|ALB|2003|         0|
|    Albania|ALB|2006|         3|
|    Albania|ALB|2007|         1|
|    Albania|ALB|2008|         4|
|    Albania|ALB|2009|         6|
|    Albania|ALB|2010|         0|
|    Albania|ALB|2011|         2|
|    Albania|ALB|2012|         7|
|    Albania|ALB|2013|         2|
|    Albania|ALB|2014|         2|
|    Albania|ALB|2015|         6|
|    Albania|ALB|2016|         6|
+-----------+---+----+----------+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import col
df = df.withColumnRenamed("Incidence - HIV/AIDS - Sex: Both - Age: All Ages (Number)", "Incidence")
df.show()

+-----------+----+----+---------+
|     Entity|Code|Year|Incidence|
+-----------+----+----+---------+
|Afghanistan| AFG|1990|       88|
|Afghanistan| AFG|1991|      104|
|Afghanistan| AFG|1992|      120|
|Afghanistan| AFG|1993|      127|
|Afghanistan| AFG|1994|      133|
|Afghanistan| AFG|1995|      144|
|Afghanistan| AFG|1996|      152|
|Afghanistan| AFG|1997|      161|
|Afghanistan| AFG|1998|      165|
|Afghanistan| AFG|1999|      169|
|Afghanistan| AFG|2000|      178|
|Afghanistan| AFG|2001|      193|
|Afghanistan| AFG|2002|      208|
|Afghanistan| AFG|2003|      220|
|Afghanistan| AFG|2004|      233|
|Afghanistan| AFG|2005|      244|
|Afghanistan| AFG|2006|      252|
|Afghanistan| AFG|2007|      269|
|Afghanistan| AFG|2008|      282|
|Afghanistan| AFG|2009|      290|
+-----------+----+----+---------+
only showing top 20 rows

In [34]:
df_new = df.join(df1, df.Entity==df1.Entit)
df_new.show()

+-----------+----+----+---------+-----------+---+----+----------+
|     Entity|Code|Year|Incidence|      Entit|Cod| Yea|Tbpatients|
+-----------+----+----+---------+-----------+---+----+----------+
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2016|         8|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2015|         3|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2012|         5|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2011|         4|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2010|         2|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2009|         5|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2008|         0|
|Afghanistan| AFG|1990|       88|Afghanistan|AFG|2007|         0|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2016|         8|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2015|         3|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2012|         5|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2011|         4|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2010|         2|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2009|         5|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2008|         0|
|Afghanistan| AFG|1991|      104|Afghanistan|AFG|2007|         0|
|Afghanistan| AFG|1992|      120|Afghanistan|AFG|2016|         8|
|Afghanistan| AFG|1992|      120|Afghanistan|AFG|2015|         3|
|Afghanistan| AFG|1992|      120|Afghanistan|AFG|2012|         5|
|Afghanistan| AFG|1992|      120|Afghanistan|AFG|2011|         4|
+-----------+----+----+---------+-----------+---+----+----------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import col

# récupérer la liste des noms de colonnes du dataframe
cols = df_new.columns

# supprimer les colonnes 4, 5 et 6 du dataframe
cols_to_drop = [cols[4], cols[5], cols[6]]
df_ = df_new.drop(*cols_to_drop)
df_.show()

+-----------+----+----+---------+----------+
|     Entity|Code|Year|Incidence|Tbpatients|
+-----------+----+----+---------+----------+
|Afghanistan| AFG|1990|       88|         8|
|Afghanistan| AFG|1990|       88|         3|
|Afghanistan| AFG|1990|       88|         5|
|Afghanistan| AFG|1990|       88|         4|
|Afghanistan| AFG|1990|       88|         2|
|Afghanistan| AFG|1990|       88|         5|
|Afghanistan| AFG|1990|       88|         0|
|Afghanistan| AFG|1990|       88|         0|
|Afghanistan| AFG|1991|      104|         8|
|Afghanistan| AFG|1991|      104|         3|
|Afghanistan| AFG|1991|      104|         5|
|Afghanistan| AFG|1991|      104|         4|
|Afghanistan| AFG|1991|      104|         2|
|Afghanistan| AFG|1991|      104|         5|
|Afghanistan| AFG|1991|      104|         0|
|Afghanistan| AFG|1991|      104|         0|
|Afghanistan| AFG|1992|      120|         8|
|Afghanistan| AFG|1992|      120|         3|
|Afghanistan| AFG|1992|      120|         5|
|Afghanistan| AFG|1992|      120|         4|
+-----------+----+----+---------+----------+
only showing top 20 rows

In [36]:
df2 = spark.read.load('hdfs://localhost:8020/user/tb-related-deaths-hiv.csv', format='com.databricks.spark.csv',header='true',sep=',',inferSchema='true')
df2.show()

+-----------+----+----+-------------------------------------------------------------------+
|     Entity|Code|Year|Estimated TB-related deaths among people living with HIV - estimate|
+-----------+----+----+-------------------------------------------------------------------+
|Afghanistan| AFG|2000|                                                            87.0184|
|Afghanistan| AFG|2001|                                                            74.7313|
|Afghanistan| AFG|2002|                                                            67.5944|
|Afghanistan| AFG|2003|                                                            69.5065|
|Afghanistan| AFG|2004|                                                            65.7143|
|Afghanistan| AFG|2005|                                                            64.4447|
|Afghanistan| AFG|2006|                                                            62.2394|
|Afghanistan| AFG|2007|                                                            60.0473|
|Afghanistan| AFG|2008|                                                            66.4017|
|Afghanistan| AFG|2009|                                                            76.5272|
|Afghanistan| AFG|2010|                                                            80.4727|
|Afghanistan| AFG|2011|                                                            89.6658|
|Afghanistan| AFG|2012|                                                            97.8129|
|Afghanistan| AFG|2013|                                                            102.495|
|Afghanistan| AFG|2014|                                                            110.409|
|Afghanistan| AFG|2015|                                                            105.271|
|Afghanistan| AFG|2016|                                                             95.512|
|    Albania| ALB|2000|                                                           0.155922|
|    Albania| ALB|2001|                                                           0.146305|
|    Albania| ALB|2002|                                                            0.16979|
+-----------+----+----+-------------------------------------------------------------------+
only showing top 20 rows

In [37]:
from pyspark.sql.functions import col
df2 = df2.withColumnRenamed("Entity", "Enti")
df2 = df2.withColumnRenamed("Code", "Co")
df2 = df2.withColumnRenamed("Year", "Ye")
df2 = df2.withColumnRenamed("Estimated TB-related deaths among people living with HIV - estimate", "TB-related")
df2.show()

+-----------+---+----+----------+
|       Enti| Co|  Ye|TB-related|
+-----------+---+----+----------+
|Afghanistan|AFG|2000|   87.0184|
|Afghanistan|AFG|2001|   74.7313|
|Afghanistan|AFG|2002|   67.5944|
|Afghanistan|AFG|2003|   69.5065|
|Afghanistan|AFG|2004|   65.7143|
|Afghanistan|AFG|2005|   64.4447|
|Afghanistan|AFG|2006|   62.2394|
|Afghanistan|AFG|2007|   60.0473|
|Afghanistan|AFG|2008|   66.4017|
|Afghanistan|AFG|2009|   76.5272|
|Afghanistan|AFG|2010|   80.4727|
|Afghanistan|AFG|2011|   89.6658|
|Afghanistan|AFG|2012|   97.8129|
|Afghanistan|AFG|2013|   102.495|
|Afghanistan|AFG|2014|   110.409|
|Afghanistan|AFG|2015|   105.271|
|Afghanistan|AFG|2016|    95.512|
|    Albania|ALB|2000|  0.155922|
|    Albania|ALB|2001|  0.146305|
|    Albania|ALB|2002|   0.16979|
+-----------+---+----+----------+
only showing top 20 rows

In [40]:
df_ne = df_.join(df2, df_.Entity==df2.Enti)
df_ne.show()

+-----------+----+----+---------+----------+-----------+---+----+----------+
|     Entity|Code|Year|Incidence|Tbpatients|       Enti| Co|  Ye|TB-related|
+-----------+----+----+---------+----------+-----------+---+----+----------+
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2016|    95.512|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2015|   105.271|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2014|   110.409|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2013|   102.495|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2012|   97.8129|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2011|   89.6658|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2010|   80.4727|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2009|   76.5272|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2008|   66.4017|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2007|   60.0473|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2006|   62.2394|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2005|   64.4447|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2004|   65.7143|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2003|   69.5065|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2002|   67.5944|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2001|   74.7313|
|Afghanistan| AFG|1990|       88|         8|Afghanistan|AFG|2000|   87.0184|
|Afghanistan| AFG|1990|       88|         3|Afghanistan|AFG|2016|    95.512|
|Afghanistan| AFG|1990|       88|         3|Afghanistan|AFG|2015|   105.271|
|Afghanistan| AFG|1990|       88|         3|Afghanistan|AFG|2014|   110.409|
+-----------+----+----+---------+----------+-----------+---+----+----------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import col

# récupérer la liste des noms de colonnes du dataframe
cols = df_ne.columns

# supprimer les colonnes 4, 5 et 6 du dataframe
cols_to_drop = [cols[5], cols[6], cols[7]]
DF = df_ne.drop(*cols_to_drop)
DF.show()

+-----------+----+----+---------+----------+----------+
|     Entity|Code|Year|Incidence|Tbpatients|TB-related|
+-----------+----+----+---------+----------+----------+
|Afghanistan| AFG|1990|       88|         8|    95.512|
|Afghanistan| AFG|1990|       88|         8|   105.271|
|Afghanistan| AFG|1990|       88|         8|   110.409|
|Afghanistan| AFG|1990|       88|         8|   102.495|
|Afghanistan| AFG|1990|       88|         8|   97.8129|
|Afghanistan| AFG|1990|       88|         8|   89.6658|
|Afghanistan| AFG|1990|       88|         8|   80.4727|
|Afghanistan| AFG|1990|       88|         8|   76.5272|
|Afghanistan| AFG|1990|       88|         8|   66.4017|
|Afghanistan| AFG|1990|       88|         8|   60.0473|
|Afghanistan| AFG|1990|       88|         8|   62.2394|
|Afghanistan| AFG|1990|       88|         8|   64.4447|
|Afghanistan| AFG|1990|       88|         8|   65.7143|
|Afghanistan| AFG|1990|       88|         8|   69.5065|
|Afghanistan| AFG|1990|       88|         8|   67.5944|
|Afghanistan| AFG|1990|       88|         8|   74.7313|
|Afghanistan| AFG|1990|       88|         8|   87.0184|
|Afghanistan| AFG|1990|       88|         3|    95.512|
|Afghanistan| AFG|1990|       88|         3|   105.271|
|Afghanistan| AFG|1990|       88|         3|   110.409|
+-----------+----+----+---------+----------+----------+
only showing top 20 rows